body {
    background-color: #fff3cd;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.carousel-item {
    height: 100%;
    max-height: 600px;
}

.sobre {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.nav-link {
    text-align: center;
}

.nav-link.text-dark.active {
    color: #fff !important;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
}

li {
    font-size: 1.5em;
}

section img {
    max-height: 350px;


}