
.carousel-item{
    height: 100%;
    max-height: 600px;
   
}
.sobre{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}
body{
    background-color: #ffc10748;
    
}
.navbar-nav .nav-link.active{
    color: #fff;
}
.nav-link{
    text-align: center;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
  
}
